/* Navbar logo position and dimension*/
#logo {
  width: 60px;
  height: auto;
  border-radius: 200px;
  background-color: white;
}
/* nav bar setup */
.ml-auto .dropdown-menu {
  left: auto !important;
  right: 0px;
}

.mr-auto{
  right: auto !important;
  left: 0px;
}

/*Login form */

#container-login{
  align-content: center;
  align-items: center;
  width: 40%;
  margin: 7% auto;
  float: none;
}

#login-error p {
  color: #b22222;
}

